@import "maine.css";

section {
    display: flex;
    flex-direction: column;
}

aside {
    background: #ffffff;
    width: 200px;
    height: 100vh;
    float: right;
    margin-left: 20px;
    position: fixed;
}

.box_content, section {
    padding: 40px 15px;
}

.avatar {
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 4px #ddddddc4;

}

.item_asd {
    margin-bottom: 50px;
}

.top {
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.picture {
    width: 100%;
    height: 100%;
    border-radius: 100%;

}

.setting_ico {

    left: 0;
    top: 0;

}
.filemanager{
    top: 0;
    right: 0;
}
.sub_avatar{
    background: #e0e0e0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* text-align: center; */
    /* line-height: 30px; */
    text-decoration: none;
    padding: 3px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

}

a {
    text-decoration: none;
    outline: none;
}

.ico {
    color: #2e699c;
    font-size: 19px;
}

.add {
    margin-top: 5px;

}

.add a {
    color: #357191;

}

.stitle {
    color: #686d6d;
    font-size: 11px;
}

.item_link {
    display: flex;
    width: 100%;
    color: #686d6d;
    margin-bottom: 10px;
    transition: .4s ease;
    padding: 10px 30px;
    position: relative;

}

.active {
    background: #d8dddd;
}

.active:before {
    content: "";
    width: 3px;
    height: 100%;
    background: #ca4275;
    position: absolute;
    right: -3px;
    top: 0;

}

.title_red {
    color: #ca4275;
    font-size: 13px;

}

.item_link:hover {
    background: #d8dddd;
}

.item_link i {
    margin-left: 5px;
}

.middle {
    flex-direction: column;
}

.an_box {


    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 150px;

}

.clear {
    float: right;
    width: 200px;
    height: 100vh;
    margin-left: 20px;
}

.sec_box {
    padding: 5px;
    background: #fff;
    margin: 5px;
}

.title {
    font-size: 14px;
    color: #444444;
    font-weight: bold;
}

.header_box {
    display: flex;
    justify-content: space-between;
}

.bottom_sec {
    height: 350px;
    position: relative;
}

.content_b {
    position: absolute;
    /* left: 50%; */
    width: 100%;
    /* top: 50%; */
    height: 100%;
    display: flex;
    align-items: center;
}

.item_asd {
    margin-top: 20px;
}

/* form  style*/
fieldset {
    border: 2px dashed #d2d2d2;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;

}

legend {
    font-size: 14px;
    font-weight: 700;
    color: #ca4275;
}

.frm_m input, .frm_m textarea, .frm_m select, .frm_m option {
    border: 0;
    padding: 5px 10px;
    border-radius: 2px;
    outline: none;
    width: 100%;
    display: block;
    resize: vertical;
    border-right: 2px solid #979797;
    margin-bottom: 10px;
    color: #2e699c;

}

.frm_m *:focus {
    transition: .4s ease-in;
    border-right: 2px solid #ca4275;
}

.frm_m button {
    border: 0;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    width: 100px;
    font-weight: 700;

}

.frm_m button[type=reset] {
    background: #ca4275;
}
.bad_ico{
    color: #ca4275;
}
.good_ico{
    color: #2e699c;
}
.frm_m button[type=reset]:hover {
    transition: .3s cubic-bezier(.45, .05, .55, .95);
    color: #ca4275;
    background: none;
    box-shadow: 0 0 1px 1px;
}

.frm_m button[type=button], .frm_m button[type=submit], .unlink_btn:hover {
    background: #2e699c;
}

.frm_m button[type=button]:hover, .frm_m button[type=submit]:hover, .link_btn:hover {
    transition: .3s cubic-bezier(.45, .05, .55, .95);
    color: #2e699c;
    background: none;
    box-shadow: 0 0 1px 1px;

}

.d_flex {
    display: flex;
}

.bx_menu {
    padding: 0 10px;

}

/*box lost*/
.box_list {
    display: block;
}

.box_list div.item_list {
    display: flex;
    box-shadow: 0 0 2px 0;
    /*padding: 5px;*/
    /*background: #fff;*/
    margin-bottom: 5px;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.list_title {
    background: #e1e1e1;
    padding: 5px 10px;
    color: #2e699c;
    font-size: 13px;

}

.list_ico {
    display: flex;
}

.list_ico span i {
    margin: 0 5px;
    font-size: 25px;
    cursor: pointer;
}
.list_text{
    display: flex;
    align-items: center;
}
.list_img{
    width: 100px;
    height: 60px;


}